{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
      "plugin:react/recommended",
      "standard",
      "prettier"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "plugins": [
      "react"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 2,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0
  }
}
